<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="st\
ylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" \
rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
  </head>
  <body>

    <% include navbar.ejs %>

    <div class="container">

      <h2>About</h2><hr>

      <!-- Beyond this part the marketing copy begins. -->
      <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it -->
      <div class="row-fluid section1">
        
        <div class="span5 offset1 copy copy-right">
	  <p>We believe the music-loving community must have a say in promoters decisions on arranging gigs.</p>
	  <p>Here fans can manifest their preferences by demanding shows of favourite artists in local venues and expressing willingness to directly participate in the whole process (by donating funds and services). <a href="http://www.youtube.com/watch?v=Iks_Emo2fVw" target="_blank">It's in our hands</a> to make it happen &#8212; through cooperative efforts, by joining forces with operative local promo agencies. If you love it, demand it.</p>
        </div>
	<div class="span5 copy">
	  <p>Ми вважаємо, що меломанська спільнота повинна мати право голосу щодо рішень промоутерів на організацію концертів.</p>
	  <p>Тут фанати можуть проявляти свої уподобання, вимагаючи виступів улюблених виконавців на місцевих майданчиках і висловлюючи готовність безпосередньо брати участь у всьому процесі (жертвуючи кошти та послуги). <a href="http://www.youtube.com/watch?v=Iks_Emo2fVw" target="_blank">Все в наших руках</a>, щоб це здійснити &#8212; спільними зусиллями, шляхом об'єднання з місцевими діючими промо-агенціями. Якщо любите, вимагайте.</p>
        </div>
      </div> <!-- end of section1 -->
      <div class="row-fluid section2">
        <div class="span5 offset1 copy copy-right">
	  <p>On the other hand we wouldn't wish to settle for music alone, you're encouraged to consider other cultural events as well: interviews with actors and writers, poetry readings, stand-up skits, theatre parties, popular science lectures, etc. Tell us what your cultural deficit is and together we'll see whether it can be covered.</p>
	  <p class="remark">Later in release history FanBooker will feature sections with booking candidates and consolidated information about active promo agencies, venues, transportation means, food and lodging options.</p>
        </div>
	<div class="span5 copy">
	  <p>З іншого боку, ми не хотіли б зупинятися суто на музичній сфері, рекомендується взяти до уваги й інші культурні заходи: інтерв'ю з акторами та письменниками, поетичні читання, стенд-ап скетчі, театральні вечори, науково-популярні лекції і т.д. Розкажіть нам про ваші культурні дефіцити і разом ми розглянемо, чи можна їх покрити.</p>
	  <p class="remark">В наступних релізах FanBooker’а будуть представлені розділи з кандидатами на привезення та консолідованою інформацією про діючі промо-агенції, концертні майданчики, транспортні засоби та варіанти житла.</p>
        </div>
        
      </div> <!-- end of section2 -->
      
      <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
      <div class="row-fluid faq">
        <div class="span10 offset1">
          <h3>FAQ</h3>
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#collapseOne">
                  What happens if the event cannot be arranged (for whatever reason)?<br/><span class="remark">
		  Що станеться, якщо концерт не можна буде зорганізувати (за будь-якої причини)?</span>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                  In case the event can't be arranged for whatever reason &#8212; the funds are insufficient, or the artist pursues other agenda, or rider's requirements can't be satisfied &#8212; all directly involved fans will receive full refund. <span class="remark">
		  У разі, якщо концерт не може бути організований за будь-яких причин &#8212; не вистачає коштів, або у виконавця інші плани, або не можна задовольнити вимоги райдера &#8212; всім шанувальникам, що безпосередньо брали участь в організації, вкладенні кошти будуть повернені у повному обсязі.</span>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#collapseTwo">
                  What happens if the event actually brings profit (imagine that)?<br/><span class="remark"> 
		  Що станеться, якщо концерт виявиться прибутковим (уявіть собі таке)?</span>
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  Should the event prove successful and actually bring profit, it's distributed among the donors proportionally to their contributions.<span class="remark">
		  У випадку, якщо концерт виявиться успішним і справді принесе прибуток, він буде розподілений серед донорів пропорційно їх внескам.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
	
      </div> <!-- end of faq -->
      
      <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
      <!-- http://creativecommons.org/licenses/ -->
      <div class="row-fluid footer">
        <div class="span12">
	  <p>This work is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC By-SA 3.0</a>. Using images by Flickr users: alexsunshine, sam_ong, bigcrow. As well as a background fragment by <a href="http://exoteric.roach.org/" target="_blank">Blatte</a>.</p>
	  <p>Ця робота ліцензується відповідно до <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC By-SA 3.0</a>. За використанням фотографій, що належать користувачам Flickr alexsunshine, sam_ong та bigcrow, а також фрактального малюнка від <a href="http://exoteric.roach.org/" target="_blank">Blatte</a>.</p>
        </div>
      </div>
    </div>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-43108466-1', 'bitstarter-fanbooker.herokuapp.com');
      ga('send', 'pageview');
      
    </script>

  </body>
</html>
