<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/google-analytics.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
  </head>
  <body>
    
    <% include navbar.ejs %>
    
    <div class="container">
      <h2>Promo Agencies</h2><hr>

      <div class="span5 offset1 copy copy-right">
	<h3>AZH Promo</h3>
	<dl class="agency-contact">
	  <dt><strong>Phone</strong></dt>
	  <dd>+38 (097) 903-09-28 | +38 (067) 136-83-87</dd>
	  <dt><strong>Email</strong></dt>
	  <dd>promo@azh.com.ua</dd>
	  <dt><strong>Website</strong></dt>
	  <dd><a href="http://promo.azh.com.ua" target="_blank">promo.azh.com.ua</a></dd>
	</dl>
      </div>

      <div class="span5 copy">
	<h3>FIGHT Music</h3>
	<dl class="venue-contact">
	  <dt><strong>Phone</strong></dt>
	  <dd>+38 (050) 334-90-20</dd>
	  <dt><strong>Email</strong></dt>
	  <dd>fight@fightmusic.com.ua</dd>
	  <dt><strong>Website</strong></dt>
	  <dd><a href="http://www.fightmusic.com.ua" target="_blank">www.fightmusic.com.ua</a></dd>
	</dl>
      </div>
    </div>
  </body>
</html>
