<% include header.ejs %>    

    <div class="container">
      <h2>Contact Email</h2>
      <p>If you have any inquiries or suggestions, feel free to drop us a line:</p>
      <p><a href="mailto:fanbookerhatestogetspam@outlook.com" onclick="this.href=this.href.replace(/hatestogetspam/,'')"></p>
    </div>

<% include footer.ejs %>
