<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
  </head>
  <body>
    
    <% include navbar.ejs %>
    
    <div class="container">
      
      <h2>Please sign in</h2><hr>
      <div class="span5 login">
        <div id="login-form">
          <form action="/sign_in" method="post">
            <div id="form-alerts">
              <% if (message) { %>
              <p><%= message %></p>
              <% } %>
            </div>
            <div class="form-group">
              <label class="control-label">Your Email:</label>
              <input class="form-control" type="text" value="" name="user[email]">
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label class="control-label">Your Password:</label>
              <input class="form-control" type="password" value="" name="user[password]">
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-login" type="submit">Come On In!</button>
            </div>
          </form>
        </div> <!-- end of login-form -->
        <hr>
        <div>
          <a href="/auth/google" class="btn">Google</a>
          <a href="/register/twitter" class="btn">Twitter</a>
          <a href="/register/facebook" class="btn">Facebook</a>
        </div>	
      </div> <!-- end of span5 -->
             
    </div> <!-- end of container -->
  </body>
</html>
