<!-- Mobile-friendly navbar adapted from example. -->
<!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
<div class="navbar navbar-inverse navbar-fixed-top bottom-edge-shadow">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar"
              data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="https://github.com/startup-class/bitstarter-leaderboard" target="_blank"><%= name %></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/agencies">Agencies</a></li>
          <li><a href="/venues">Venues</a></li>
	  <li><a href="/orders">Orders</a></li>
          <li><a href="/contact">Contact</a></li></ul>
	  <a href="/register" id="register-nav-right">Come On In!</a>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
