<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <!-- <script src="js/validator-min.js"></script> -->
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
  </head>
  <body>
    
    <% include navbar.ejs %>
    
    <div class="container">
      <h2>Please register</h2><hr>
      <div class="span5 register-new-user">
	<div id="register-form">
	  <p class="remark">All fields are required.</p>
	  <form action="/register_new_user" method="post">
	    <div id="form-alerts">
	      <% if (message) { %>
              <p><%= message %></p>
              <% } %>
	    </div>
	    <div class="form-group">
	      <label class="control-label">Pick a Username:</label>
	      <input class="form-control" type="text" value="" name="user[username]">
	      <span class="help-block"></span>
	    </div>
	    <div class="form-group">
	      <label class="control-label">Enter Your First Name:</label>
	      <input class="form-control" type="text" value="" name="user[firstname]">
	      <span class="help-block"></span>
	    </div>
	    <div class="form-group">
	      <label class="control-label">Enter Your Last Name:</label>
	      <input class="form-control" type="text" value="" name="user[lastname]">
	      <span class="help-block"></span>
	    </div>
	    <div class="form-group">
	      <label class="control-label">Enter Your Email:</label>
	      <input class="form-control" type="text" value="" name="user[email]">
	      <span class="help-block"></span>
	    </div>
	    <div class="form-group">
	      <label class="control-label">Create a Password:</label>
	      <input class="form-control" type="password" value="" name="user[password]">
	      <span class="help-block"></span>
	    </div>
	    <div class="form-group">
	      <button class="btn btn-primary btn-register" type="submit">Create My Account!</button>
	    </div>
	  </form>
	</div> <!-- end of register-form -->
      </div> <!-- end of span5 -->
            
    </div> <!-- end of container -->
  </body>
</html>
