/* Statically serve fonts directly to avoid this error in the Chrome console:
     Resource interpreted as Font but transferred with MIME type font/woff: 
     "https://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraLO3LdcAZYWl9Si6vvxL-qU.woff".
*/

/*
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans-300.woff) format('woff');
}
*/

/*
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/ubuntu-300.woff) format('woff');
}
*/

/*
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/ubuntu-700.woff) format('woff');
}
*/

/* Large desktop */
@media (min-width: 980px) { 
  body {
   padding-top: 60px;
  }
 .linediv-l {
   border-right: 1px white solid;
  }
 .linediv-r {
   border-left: 1px white solid;
 }
}

/* Tablets */
@media (max-width: 979px) and (min-width: 768px) {
    iframe#coinbase_button_iframe_45fd1721dbb05c496707ea9cf68d39c4 {
	margin-left: -32%;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) { 
 .copy {
   padding: 2.5% 10%;
 }
 .linediv-l {
   border-bottom: 1px white solid;
 }
 .linediv-r {
   border-top: 1px white solid;
 }
}

/* All form factors */

/* Main body and headings */
/* 
  Use slightly lighter body font (Open Sans 300 rather than 400): 
  https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight 

  Also use slightly lighter subheading (Ubuntu 300 vs. 400)
*/
body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 100%;
  /*font-weight: 300;*/ 
}
.inward-shadow {
    box-shadow: inset 0 5px 15px rgba(0,0,0,.3), inset 0 -5px 15px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.3), inset 0 -5px 15px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.3), inset 0 -5px 15px rgba(0,0,0,.3);
    -khtml-box-shadow: inset 0 5px 15px rgba(0,0,0,.3), inset 0 -5px 15px rgba(0,0,0,.3);
    -ms-box-shadow: inset 0 5px 15px rgba(0,0,0,.3), inset 0 -5px 15px rgba(0,0,0,.3);
    -o-box-shadow: inset 0 5px 15px rgba(0,0,0,.3), inset 0 -5px 15px rgba(0,0,0,.3);
}
.single-outward-shadow {
    box-shadow: 0 -5px 15px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 -5px 15px rgba(0,0,0,.3);
    -moz-box-shadow: 0 -5px 15px rgba(0,0,0,.3);
    -khtml-box-shadow: 0 -5px 15px rgba(0,0,0,.3);
    -ms-box-shadow: 0 -5px 15px rgba(0,0,0,.3);
    -o-box-shadow: 0 -5px 15px rgba(0,0,0,.3);
}
.bottom-edge-shadow {
    box-shadow: 0 3px 6px rgba(50, 50, 50, .75);
    -webkit-box-shadow: 0 3px 6px rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 3px 6px rgba(50, 50, 50, .75);
    -khtml-box-shadow: 0 3px 6px rgba(50, 50, 50, .75);
    -ms-box-shadow: 0 3px 6px rgba(50, 50, 50, .75);
    -o-box-shadow: 0 3px 6px rgba(50, 50, 50, .75);
}
.top-edge-shadow {
    box-shadow: 0 -3px 6px rgba(50, 50, 50, .75);
    -webkit-box-shadow: 0 -3px 6px rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 -3px 6px rgba(50, 50, 50, .75);
    -khtml-box-shadow: 0 -3px 6px rgba(50, 50, 50, .75);
    -ms-box-shadow: 0 -3px 6px rgba(50, 50, 50, .75);
    -o-box-shadow: 0 -3px 6px rgba(50, 50, 50, .75);
}
.navbar-fixed-top {
    margin-bottom: 0;
}
.heading, .subheading {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
}
.subheading {
  /* font-weight: 300; */
}
div#header-area, .actions {
    background-image: url("../img/holydark-bg-tile.png"); 
    background-repeat: repeat; 
    background-color: #272D39;
    background-clip: padding-box;
}
div.divider-stripe {
    padding: .8% 0%;
    background: #383838;
    background: -moz-linear-gradient(top, #111111 0%, #232833 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#232833));
    background: -webkit-linear-gradient(top, #111111 0%, #232833 100%);
    background: -o-linear-gradient(top, #111111 0%, #232833 100%);
    background: -ms-linear-gradient(top, #111111 0%, #232833 100%);
    background: linear-gradient(to bottom, #111111 0%, #232833 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#232833',GradientType=0 );    
    background-repeat: repeat-x;
    border-color: #252525;
}
h1, p.lead {
    color: white;
}
h1 { 
  font-size: 2.75em; 
  line-height: 1.5em; 
}
p.lead {
  padding-bottom: 1%;
  font-size: 1.71em;
  line-height: 1.5em;
}
p.remark {
  color: #7F7F7F; 
  font-style: italic; 
}
p {
  font-size: 1.15em;
  line-height: 1.65em;
}

/* Video pitch and Action */
.pitch {
  padding: 2.5% 0%;
}
.order {
  padding: 2% 0%;
}
.actions {
  /* background-color: #343434; */
    border: 4px solid #272D39;
    padding: 2.6% 0%;
}
.video, .thermometer, .order, .social, .statistics {
  text-align: center;
}
.statistics h3, .statistics p {
  color: white;
}
.statistics p .currency {
  font-size: 100%;
  line-height: 1;
}


/* Marketing Copy and Footer */
.copy {
  /* padding-top: 2.5%; */
  padding-bottom: 2.5%;
  text-align: justify;
}
.asset {
  padding: 0% 0% 2.5% 0%;
}
.footer {
  color: #b2b2b2;
  text-align: center;
}
.footer p {
  font-size: 0.78em;
}
.footer a {
  color: #b8b8e5;
}

/* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */ 
div.addthis_toolbox {
    width: 100%;
    margin: 0 auto;
}